/* AppBar */
a {
  text-decoration: none;
  color: inherit;
}
#nav {
  margin-bottom: 25px;
}
button {
  text-transform: capitalize !important;
}
.bi {
  vertical-align: -0.125em;
  margin-bottom: calc(-0.125em / 2);
}
.xterm-screen {
  padding: 5px;
  padding-right: 17px;
}
