/* .single {
                backgroundColor: "background.table.single"
                border: 1
                borderColor: "border.table.single"
                borderCollapse: "separate"
              }
              .double {
                backgroundColor: "background.table.double"
                border: 1
                borderColor: "border.table.double"
                borderCollapse: "separate"
              }
              .u {
                border: 1,
              } */
